<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    {% block title %}
    {% endblock title %}
  </title>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/loading.css') }}"
  >
</head>
<body>
{% block body %}
{% endblock body %}

{% block footer %}
{% endblock footer %}

<script src="https://unpkg.com/htmx.org@2.0.2"
        integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
        crossorigin="anonymous"></script>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", (event) => {
    document.body.addEventListener('htmx:beforeSwap', function (evt) {
      if ([204, 422].indexOf(evt.detail.xhr.status) >= 0) {
        // allow 422 responses to swap
        // as we are using this as a signal
        // that a form was submitted with bad data
        // and want to rerepnder with the errors
        //
        // set isError to 'false'
        // to avoid error logging in console
        evt.detail.shouldSwap = true;
        evt.detail.isError = false;
      }
    });
  });
</script>
</body>
</html>